<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Names list</title>
	</head>
	<body>
		{{$admin := .}}
		<h1>The site admin here is {{$admin.Name}} and he is {{$admin.Age}} years old!</h1>
	</body>
</html>